<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Настройки</title>
</head>
<body>
<div class = "row col-12">
  <div class="col col-4">
    <div class="card p-2 m-2">
  <p>Время начала торгов: <input type="time"  required [(ngModel)]="settings.tm_begin"></p>
  <p>Время окончания торгов: <input type="time" required [(ngModel)]="settings.tmstop"></p>
  <p>Интервал обновления акций: <input type="time" required [(ngModel)]="settings.tmout"></p>
  <button class="btn btn-light" (click)="edit()" >Изменить</button>
  <p> </p>
    </div>
  </div>
</div>
</body>
</html>
